<div class="safety-signature">
  <div class="powered-by">
    <img src="../../../assets/Powered-by-logo.png">
    <!-- <p>powered By<br>
    <span class="company">ShareSimple</span>
    </p> -->
  </div>
  <p
    [innerHTML]="'We create trust between companies and individuals through solutions that provide an overview and secure the sharing of personal data.' | translate">
  </p>
  <a href="{{linkConfig.overView}}" target="_blank">{{"Learn more" | translate}} <span
      class="ms-Icon ms-Icon--ChromeBackMirrored"></span></a>
</div>