<div class="ms-Grid">
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-sm12 ms-md4">
    </div>
    <div class="ms-Grid-col ms-sm12 ms-md4">
      <div class="ms-Grid-row ms-textAlignCenter pt-5 companyname">
        <app-header></app-header>
      </div>

      <div class="ms-Grid-row ms-textAlignCenter pt-2">
        <img *ngIf="loading" class="loadingimage" src="../../../assets/loading.gif">
      </div>

      <div *ngIf="message" class="ms-Grid-row ms-textAlignCenter pt-2 pb-4 consent-title">
        {{message}}
      </div>

    </div>
    <div class="ms-Grid-col ms-sm12 ms-md4">
    </div>
  </div>
</div>