.permissionlink{
    color: #0078d7 !important;
}
.screen-full {
  width: calc(100vw - 20px);
  height: calc(100vh - 35px);
}

.screen-normal {
  width: calc(80vw - 20px);
  height: calc(80vh - 35px);
}
