.actionlogo{
    height: 25px;
    width: 25px;
}

.dragstyle{
    color: gray;
}
.orstyle{
    color: gray;
    font-size: 12px;
}
input[type="file"] {
    display: none;
}
.alert-failed{
    color: #C20909;
}