<div class="ms-Grid-row pt-5">
  <div class="ms-Grid-col ms-sm12 ms-md12">
    <button [routerLink]="['/home/sharefiles']" type="button" class="btn btn-outline-primary btn-lg btn-block sharebutton">
      <img class="actionlogo" src="../../../assets/icon_share_files.png">
      <span class="pl-2">{{"Share data" | translate}}</span>
    </button>
  </div>
</div>
<div class="ms-Grid-row pt-3">
  <div class="ms-Grid-col ms-sm12 ms-md12">
    <button [routerLink]="['/home/requestdata']" type="button" class="btn btn-outline-primary btn-lg btn-block">
      <img class="actionlogo" src="../../../assets/icon_request_data.png">
      <span class="pl-2">{{"Request data" | translate}}</span>
    </button>
  </div>
</div>